.header, .header *{
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header{
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #252B69;
    
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 1000;

}

.header.scrolled{
    background-color: #252b69;
}

.right{

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.right > a {

    justify-content: center;
    align-items: center;
}

.header a {
    color: white;
    font-weight: 400;
    font-size: 1.2vw;
    padding: 10px;
    height: 70%;
    width: 7.5vw;
    background: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease, color 0.5s ease;
}

.header a:hover {

    color: #252B69;
    background-position: -100% 0;
}

.dropdowns{
    visibility: hidden ;
    position: absolute;
    flex-direction: column;
    background-color: #252B69;
    top: 4.5vw;
    left: 68.76vw;
    width: 20vw;
    height: 20vh;
}

.dropdowns a{
    width: 100%;
    align-items: center;
}

.dropdowns p{
    margin-left: 2vw;
}

#hotel:hover .dropdowns{

    justify-content: center;
    align-items: center;
    visibility: visible;
}

header{
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-content: space-between !important;
    height: 100%;
}

.header img{
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    border: none;
    cursor: pointer;
}

.sidedowns{
    visibility: hidden ;
    background-color: #252B69;
    position: absolute;
    left: -20vw;
    flex-direction: column;
    top: 6.66vh;
    width: 20vw;
    flex-direction: column;
}


#allotment:hover .sidedowns{
    visibility: visible;
}

.sidedowns *{
    align-items: center;
    height: 3.7vw;
}

.sidedowns p{
    margin-left: 2vw;
}