.hotelDescriptionPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 2vw;
    margin-top: 5vh;
}

.hotelDescriptionPage *{
    margin: 0;
    padding: 0;
}

.hotelDescriptionPage img{
    width: 3vw;
    height: auto;
}


/* -------TOP------- */
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #252B69;
}

.top h1{
    color: black;
    width: 40%;
    text-align: center;
    font-weight: 500;
}

#topImageContainer {
    width: 30%;
}

#backIcon{
    padding: 0.5vw;
    cursor: pointer;
    transition: 0.5s;
}

#topImageContainer:hover #backIcon{
    margin-left: -1vw;
}

#addressIcon{
    width: 2vw !important;
}

.addressContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 0.8vw;
    width: 30%;
    text-align: center;
}

.addressContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.addressContainer p{
    width: 15vw;
    font-weight: 500;

}

/* -------IMAGE SLIDESHOW------- */
.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 3vw;
    padding-right: 3vw;
}

.carousel div{
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.carousel img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.carousel button {
    border: 0px;
    width: 6vw;
    height: 10vh;
    border-radius: 10px;
    background-color: transparent;
    color: #252B69;
    font-size: 4vw;
    transition: 0.3s;
    cursor: pointer;
}

.carousel button:hover{
    font-size: 4.5vw;
    transition: 0.3s;
}

/* ------- MAIN SERVICE ------- */
.mainServiceContainer{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    border: 1.5px solid #252B69;
    border-radius: 10px;
    font-size: 1.2vw;
}

.mainServiceContainer img{
    width: 4vw;
}

.mainServiceContainer div:not(.ratingContainer){
    margin-left: -10vw;
}

.star{
    width: 2vw !important;
}

.brave{
    font-weight: 600;
}

.ratingContainer{
    text-align: center;
    color: #252B69;
}

#shuttleBus{
    width: 3.4vw !important;
}




/* ------- DESCRIPTION AND SECONDARY SERVICE ------- */
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5vh;
    border-bottom: 3px solid #252B69;
}

.content > p{
    width: 82%;
    font-size: 1.5vw;
    font-weight: 200;
    padding-left: 1%;
}

.secondaryService{
    position: sticky;
    top: 40vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 15%;
    border: 1px solid #252B69;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1.5vw;
    font-size: 1.2vw;
}

.secondaryService img{
    width: 15%;
}

.secondaryService p{
    width: 75%;
    font-weight: 200;
}

.secondaryService div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}




/* ------- PRICES ------- */
#prices{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    text-align: center;
    font-size: 2vw;
}

.price *{
    font-weight: 500 !important ;
}

.datePicker{
    border-radius: 100px;
}

.price p{
    font-size: 1.2vw;
    font-weight: 100 !important;
}





/* REQEUST BUTTON */
.requestButton{
    width: 15vw;
    height: 6vh;
    background-color: transparent;
    border: 1px solid #252B69;
    border-radius: 10px;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: #252B69;
    color: white;
    margin-top: 6vh;
    transition: 0.2s;
}

.requestButton:hover{
    background-color: white;
    border: 1px solid #252B69;
    color: #252B69;
}

.hotelDescriptionPage a, .hotelDescriptionPage a:visited,.hotelDescriptionPage a:hover,.hotelDescriptionPage a:active {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
}