body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Rubik", serif !important;
    font-weight: 0 !important;
    font-style: normal;
}

.content {
    padding-left: 5vw;
    padding-right: 5vw;
}

.bold {
    font-weight: 900;
}

.light {
    font-weight: 100;
}

#pagination {
    width: fit-content;
    display: flex;
    gap: 1vw;
    margin: auto;
}

button {
    cursor: pointer;
}

/* ------- Dropwdown ------- */
.dropdown {
    display: inline-block;
}

.dropdown button {
    width: 10vw !important;
    background-color: hsl(0, 0%, 0%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1.2vw !important;
}

.dropdown p {
    display: block;
    color: black;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    width: inherit;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0%, 70%);
}

.dropdown p:hover {
    background-color: hsl(0, 0%, 90%);
}




/* --------Pagination-------- */
#pagination {
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping */
    width: 100%;
    /* Ensure it spans the container */
    gap: 1vw;
    /* Add spacing between buttons */
    margin: auto;
    justify-content: center;
    margin-right: auto;
}

#pagination button {
    text-align: center;
    width: 3vw;
    height: 6vh;
    background-color: white;
    border: 1px solid #252B69;
    color: #252B69;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 10px;
}

#pagination button:hover {
    background-color: #252B69;
    color: white;
}



/* Social Media Container */
.socialMediaContainer,
.socialMediaContainer * {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.socialMediaContainer {
    width: 55%;
}

.socialMediaContainer button {
    border: 0px;
    width: 10vw;
    height: 4vw;
    background-color: white;
    color: white;
    border-radius: 200px;
    font-weight: 500;
    font-size: 1vw;
    transition: 0.1s;
}

.socialMediaContainer button:hover {
    transition: 0.1s;
    font-size: 1.3vw;
}

.socialMediaContainer img {
    width: 2.5vw;
    height: auto;
}

.whatsApp {
    background-color: #24d366 !important;
}

.facebook {
    background-color: #3c5997 !important;
}

.instagram {
    background-color: #e53e5f !important;
}

/* --------------------------Homepage-------------------------- */

.Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainImage {
    width: 100%;
}

.absoluteContainer > * {
    position: absolute;
    color: #252B69;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#logoFourlinesCut {
    left: 5vw;
    top: 15vh;
    width: 5vw;
    height: auto;
}

#logoAljuhani {
    width: 5vw;
    top: 17vh;
    right: 5vw;
}

.absoluteContainer h1 {
    font-size: 3vw;
    top: 12vh;
    left: 28.5vw;
    font-weight: 300;
}

.absoluteContainer h2 {
    top: 22vh;
    left: 21vw;
    font-size: 2vw;
    font-weight: 200;
}

#inImageButton{
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 13vw;
    height: 7vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;
    top: 90vh;
    right: 7vw;
}

#inImageButton *{
    padding: 0;
    margin: 0;
}

#inImageButton div{
    width: 20%;
    height: 100%;
    border: 1px solid black; 
    background-color: #252B69;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}


#arrowRightIcon{
    width: 2vw;
}

#inImageButton p{
    width: 70%;
    text-align: center;
    font-size: 1.5vw;
    transition: 0.2s;
}

#inImageButton:hover div{
    width: 28%;
    transition: 0.2s;
}

#inImageButton:hover{
    background-color: white;
    transition: 0.2s;
}

/* ---------------Services--------------- */
.divHeading{
    font-weight: 400;
    font-size: 2vw;
    color: #252B69;
    width: 12%;
    text-align: center;
    border-bottom: 1px solid #CF9F51;
    margin: 10vh;
    border-radius: 5px;
}

.servicesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: auto;
}

.servicesContainer > div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.servicesContainer h4{
    font-size: 1.5vw;
    margin: 0;
    margin-bottom: 2vh;
    font-weight: 400;
    color: #CF9F51;
}

.servicesContainer img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;

}

.servicesContainer p{
    font-size: 1vw;
}


hr{
    height: 0.2vh;
    width: 80%;
    background-color: #252b694f;
    margin: 10vh;
}


/* ----------------------Canva poster---------------------- */
#canva{
    width: 40%;
}



/* ----------------------FAQ---------------------- */
.faqContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CF9F51;
    margin-top: 2vh;
    border-radius: 10px;
    padding-right: 2vw;
    padding-left: 2vw;
}


.faqContainer img{
    width: 1.5vw;
    height: auto;
    margin-right: 1vw;
    transition: 0.3s;
}


.faqContainer > div{
    padding-bottom: 1vh;
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

.questionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionContainer:hover img{
    transform: rotate(180deg) scaleX(-1);
    transition: all 0.3s;

}

.answerContainer{
    margin-top: -4%;
    transition: all 0.5s;
    color: gray;
    display: none;
    transform: 1s;
}

.answerContainer.visible {
    display: block;
    margin-top: -1%;
    transform: 1s;
}


.expandButton{
    font-size: 2vw;
    margin-right: 2vw;
    color: #CF9F51;
    transform: 1s;
}

.servicesTitle{
    font-weight: 400 !important;
    width: 80%;
    text-align: center;
    color: #252B69;
    border-bottom: 1px solid #CF9F51;
}